.fileItem {
  height: 230px;
  width: 230px;
  margin: 10px;
  display: inline-block;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s all;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.fileItem:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
img {
  border: 0px;
}
.icon {
  width: 100%;
  height: 60%;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solif rgba(0, 0, 0, 0.25); */
}
.icon img{
  height: 70px;
  width: 70px;
}
.fileInfo {
  height: 40%;
}
.slider.round {
  border-radius: 34px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 0px 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.innerBtn {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0px 10px;
  height: 30px;
  width: 30px;
  /* padding-bottom: 10px; */
  /* border: 1px solid black; */
}
.innerBtn img {
  height: 25px;
  width: 25px;
  transition: 0.3s all;
}
.innerBtn img:hover {
  height: 30px;
  width: 30px;
}
.controlsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* background: #EAECEE; */
  /* border: 1px solid black; */
}
